@use './common.scss' as*;

main {@include main-w; @include flex-row; margin-top:80px; height:auto;
    .left_contents {@include flex-row; gap:20px;
        .thumbnail {@include flex-col; gap:10px;}
            a {
                img {@include thumbnail-w;
            }
        }.main_img {
            img {@include bigimg-w;}
            .pagenation {
                a.active {}
                a {@include page-btn;} /* 버튼이 왜 안 만들어지지 내일 물어보기 */
            }
        }
    }.right_contents {margin-left:66px; width:473px;
        .review {font-size:$font-size-12;
            img {width:14px; height:14px;}
            span {}
            a {text-decoration-line:underline; color:$color-gray-light;}
        }.info {
            h1 {
            font-size:$font-size-30; font-weight:$weight-B;
            line-height:$line-150; letter-spacing:$letter-minus2;
            }
            span {
                font-size:$font-size-12; color:$color-gray-dark;
            }
        }.price_info {margin-top:20px;
            .order_price {color:$color-point; font-size:$font-size-30; font-weight:$weight-M;
                em {@include price;}
            }del {margin-left:8px; color:$color-gray-light}
            p {margin:10px 0 10px 0; color:$color-gray-dark; font-size:$font-size-15;
                span {font-size:$font-size-12; color:$color-gray-dark; margin:0 10px 0 10px;}
                em {font-size:$font-size-20; font-weight:$weight-B; color:$color-red;}
            }span {font-size:$font-size-13; font-weight:$weight-M;
                color:$color-gray-light;
            }
        }.order_num_btn {@include flex-col;
            .top_border {@include border-line;}
            .order_num {@include flex-row;
                align-items:center; justify-content:space-between;
                span {}
                .num_btn {@include flex-row; border:1px solid $color-gray-light; padding:0 10px;
                    .minus_btn {}
                    #order_number {width:52px; height:30px; text-align:center;
                        .bottom_border {width:473px; height:1px; background-color:$color-black;}
                    }
                    .plus_btn {}
                }
            }.bottom_border {@include border-line;}
        }
        .total_price {@include flex-row; align-items:center; justify-content:space-between;
            span {font-size:$font-size-17; font-weight:$weight-B; color:$color-gray-dark;}
            .total_price_ {@include flex-row; align-items:end; gap:5px;
                em {@include price;}
                p {color:$color-gray-dark; font-size:$font-size-14;}
            }
        }.order_btn {@include flex-row; gap:18px; margin-top:30px;
            .cart_btn {
                #cart_in {@include btn-w;}
            }.buy_btn {
                #click_buy {color:$color-white; @include btn-w; background-color:$color-point;}
            }.preasent {
                a {@include preasent-btn;
                    img {}
                }
            }
        }
    }
}
/* ★★★@mixin으로 통합할 수 있는 선택자는 모두 수정하기!!★★★(유지보수 및 가독성 향상) */