// common.scss
$font-size-xxl:2rem;
$font-size-xl:1.375rem;
$font-size-l:1.25rem;
$font-size-m:1.063rem;
$font-size-s:0.875rem;
$font-size-xs:0.813rem;
$font-size-xxs:0.625rem;
$font-weight-bold:700;
$color-point:#0aa5ff;
$color-black:#000;
$color-white:#000;
$color-gray-light-lv1:#828c94;
$color-gray-light-lv2:#bdbdbd;
$color-gray-light-lv3:#dadce0;
$color-gray-dark:#292929;
$color-gray-medium:#757575;
@mixin content-w {max-width:1156px; min-width:320px; margin:0 auto;}
@mixin flex-row {
    display:flex; flex-flow:row nowrap;
}
@mixin flex-col {
    display:flex; flex-flow:column nowrap;
}
@mixin grid6-2 {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(6, 1fr);
}
@mixin none {display:none;}
@mixin btn {
    padding:20px 0; width:50%;
    border:1px solid $color-point; border-radius:5px;
}
@mixin pst-ob {position:absolute;}